* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
}

img {
    max-width: 100%;
}

.dark-mode-bg {
    background: #050505;
}

.dictionary-web-app {
    margin-top: 58px;

    .container {
        width: 700px;
        margin: auto;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 52px;

            .theme {
                display: flex;
                align-items: center;
                gap: 20px;

                .theme-selector {
                    display: flex;
                    align-items: center;

                    input[type=checkbox] {
                        height: 0;
                        width: 0;
                        visibility: hidden;

                        &:checked+label {
                            background: #A445ED;

                            &::after {
                                left: calc(100% - 2.5%);
                                transform: translateX(-100%);
                            }
                        }
                    }

                    label {
                        --size: 40px;
                        cursor: pointer;
                        width: var(--size);
                        height: calc(var(--size) / 2);
                        background: grey;
                        display: block;
                        border-radius: 100px;
                        position: relative;

                        &:hover {
                            cursor: pointer;
                        }

                        &:active {
                            &::after {
                                width: 55%;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 6%;
                            left: 2.5%;
                            width: calc(50% - 5%);
                            height: calc(100% - 11%);
                            background: #fff;
                            border-radius: 90px;
                            transition: 0.3s;
                        }
                    }
                }

                .theme-icon {
                    svg {
                        path {
                            stroke: #757575;
                        }
                    }
                }
            }
        }

        .search-bar {
            position: relative;
            margin-bottom: 45px;

            input {
                width: 100%;
                background: #F4F4F4;
                border-radius: 16px;
                padding: 20px 24px;
                outline: none;
                border: none;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #2D2D2D;

                &:focus {
                    border: 1px solid #A445ED;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .search-icon {
                position: absolute;
                top: 55%;
                right: 2%;
                transform: translate(-50%, -50%);

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .main {
            .first-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 40px;

                .word {
                    h2 {
                        font-weight: 700;
                        font-size: 64px;
                        line-height: 77px;
                        color: #2D2D2D;
                        margin-bottom: 8px;
                    }

                    span {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                        color: #A445ED;
                    }
                }

                .play {
                    svg {
                        cursor: pointer;

                        g {

                            &:hover path {
                                fill: #fff;
                            }

                            &:hover circle {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .section {
                margin-bottom: 40px;

                &.verb {
                    border-bottom: 1px solid #E9E9E9;
                    margin-bottom: 0px;
                }

                .seperator {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding-bottom: 40px;

                    .section-name {
                        span {
                            font-style: italic;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            color: #2D2D2D;
                        }
                    }

                    .line {
                        height: 1px;
                        background: #E9E9E9;
                        width: 100%;
                    }
                }

                .section-heading {
                    margin-bottom: 25px;
                    display: flex;
                    align-items: center;
                    gap: 22px;

                    h4 {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #757575;
                    }

                    span {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #A445ED;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }

                .section-content {
                    padding-left: 50px;

                    ul {
                        list-style: none;
                        margin-bottom: 40px;

                        li {
                            padding-bottom: 15px;

                            &::before {
                                content: "\2022";
                                color: #8F19E8;
                                display: inline-block;
                                width: 1em;
                                margin-left: -1em;
                            }

                            span {
                                position: relative;
                                left: 20px;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 24px;
                                color: #2D2D2D;
                            }

                            p {
                                margin-top: 15px;
                                padding-left: 20px;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 24px;
                                color: #757575;
                            }
                        }
                    }
                }
            }

            .source {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-block: 20px;

                .heading {
                    span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        text-decoration-line: underline;
                        color: #757575;
                    }
                }

                .link {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        text-decoration-line: underline;
                        color: #2D2D2D
                    }
                }
            }

        }
    }
}

// DARK MODE